<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/addUser" method="post">
		UserName:<input type="text" name="username"><br>
		Account type:<br>
		Private:<input type="radio" name="accountType" value="private">
		public:<input type="radio" name="accountType" value="public"><br>
		Friends:<input type="text" name="friends"><br>
		<input type="submit" value="Add">
	</form>
	<a href="/mynotifications">Notifications</a>
</body>
</html>